{% extends 'blog/base.html' %} 
{% block content %} 
{% for post in posts %}
<article class="post" id="post{{post.pk}}">
  <aside class="actions">
    {% if user.is_authenticated %}
    <!-- Button trigger modal -->
    <button
      class="btn btn-default show-form"
      data-url="{% url 'post_delete' pk=post.pk %}"
      data-toggle="modal"
      data-target="#myModal"
    >
      {% include './icons/trash.svg' %}
    </button>
    {% endif %}
  </aside>
  <time class="date"> {{ post.published_date }} </time>
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
</article>
{% endfor %}
<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="editForm"></div>
    </div>
  </div>
</div>
{% endblock %}
